.img-responsive {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.shield-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.shield-container img {
    margin: 5px;
    max-width: 100%;
    height: auto;
}

.mdui-dialog-content p {
    margin: 10px 0;
}

.neon-text {
    color: #fff;
    animation: neonGradient 3s ease-in-out infinite alternate;
}

@keyframes neonGradient {
    0% {
        text-shadow:
            0 0 5px #ff0000,
            0 0 10px #ff4000,
            0 0 15px #ff8000,
            0 0 20px #ffbf00,
            0 0 25px #40ff00,
            0 0 30px #00ff40,
            0 0 35px #0040ff,
            0 0 40px #8000ff,
            0 0 45px #ff00ff;
    }

    100% {
        text-shadow:
            0 0 5px #8000ff,
            0 0 10px #4000ff,
            0 0 15px #0000ff,
            0 0 20px #00ffbf,
            0 0 25px #00ff40,
            0 0 30px #40ff00,
            0 0 35px #ffbf00,
            0 0 40px #ff8000,
            0 0 45px #ff4000;
    }
}

* {
    font-family: 'Moon Stars Kai';
    font-weight: 400;
}
