.img-responsive {
  max-width: 100%;
  height: auto;
}
.shield-container {
  display: flex;
  flex-wrap: wrap; /* 允许换行 */
  justify-content: center; /* 水平居中对齐 */
  align-items: center;
}
.shield-container img {
  margin: 5px; /* 适当调整图片间的间隔 */
  max-width: 100%; /* 图片宽度不超过容器宽度 */
  height: auto; /* 保持图片宽高比 */
}.mdui-dialog-content p {
    margin: 10px 0;          /* 段落的上下方间隔 */
}